<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "SVGOMG.net",
  "applicationCategory": "DeveloperApplication",
  "operatingSystem": "Web",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "description": "Free browser-based GUI for SVGO on SVGOMG.net. Optimize and minify SVG images without uploading files to a server.",
  "url": "{{ liveBaseUrl|e }}",
  "isPartOf": {
    "@type": "WebSite",
    "name": "SVGOMG.net",
    "url": "{{ liveBaseUrl|e }}"
  },
  "softwareHelp": [
    {
      "@type": "WebPage",
      "name": "How to optimize SVG files",
      "url": "{{ liveBaseUrl }}how-to-optimize/"
    },
    {
      "@type": "WebPage",
      "name": "SVGO Plugin Guide",
      "url": "{{ liveBaseUrl }}plugins/"
    }
  ],
  "sameAs": [
    "https://github.com/jakearchibald/svgomg"
  ]
}
</script>
