<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include "partials/seo/ui-font-head.html" %}
    <link rel="preconnect" href="https://scripts.scriptwrapper.com" crossorigin>
    <link rel="dns-prefetch" href="//scripts.scriptwrapper.com">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://plausible.io" crossorigin>
    <!-- Privacy-friendly analytics by Plausible -->
    <script async src="https://plausible.io/js/pa-q9uRWx0xik7G0NvAhQ_sK.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
    <!-- Google Analytics tag (GA4) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QNC9E0HGPE"></script>    
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QNC9E0HGPE');
    </script>
    <title>{{ title }}</title>
    <meta name="theme-color" content="#303f9f">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" crossorigin as="font" href="fonts/code-latin.woff2">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="{{ iconPath }}">
    <link rel="icon" href="{{ iconPath }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SVGOMG">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ liveBaseUrl }}{{ iconPath }}">
    <meta property="og:url" content="{{ liveBaseUrl }}">
    <meta property="og:title" content="{{ title }}">
    <link rel="canonical" href="{{ liveBaseUrl }}">
    <script>
      if ((!location.port || location.port === '80') && location.protocol !== 'https:') {
        location.protocol = 'https:';
      }

      window.version = '{{SVGOMG_VERSION}}';

      if (location.hash === '#how-to-optimize') {
        location.replace('/how-to-optimize/' + location.search);
      }
    </script>
    <script id="mediavine-journey" type="text/javascript" async data-noptimize="1" data-cfasync="false" src="//scripts.scriptwrapper.com/tags/2c461a95-b411-46fc-a6e5-dd2367e0257a.js"></script>
    <script>
      if (location.hostname === 'localhost' || location.hostname === '127.0.0.1') {
        document.getElementById('mediavine-journey').remove();
      }
    </script>
    {% include "partials/seo/json-ld-software.html" %}
    {% include "partials/seo/json-ld-website.html" %}
    <script src="js/page.js" defer></script>
    <style>{{headCSS|safe}}</style>
    <link rel="preload" as="style" href="all.css" onload="rel='stylesheet'">
  </head>
  <body class="site-with-toolbar">
    {% include "partials/site-toolbar.html" %}
    <div class="toolbar-extra"></div>
    <div class="app-output">
      <div class="main">
        <div class="output">
          <div class="action-button-container">
            <div class="minor-action-container"></div>
            <div class="results-container"></div>
          </div>
        </div>
        <div class="settings">
          <div class="results-container-mobile"></div>
          <div class="settings-scroller">
            <section class="global">
              <h1 class="settings-sub-heading">Global settings</h1>
              <label class="setting-item-toggle">
                <input type="checkbox" name="original">
                {% include "partials/material-switch.html" %}
                Show original
              </label>
              <label class="setting-item-toggle">
                <input type="checkbox" name="gzip" checked>
                {% include "partials/material-switch.html" %}
                Compare gzipped
              </label>
              <label class="setting-item-toggle">
                <input type="checkbox" name="pretty">
                {% include "partials/material-switch.html" %}
                Prettify markup
              </label>
              <label class="setting-item-toggle">
                <input type="checkbox" name="multipass">
                {% include "partials/material-switch.html" %}
                Multipass
              </label>
              <label class="setting-item-range">
                <span class="label-text">Number precision</span>
                <input type="range" min="0" max="8" step="1" value="3" name="floatPrecision">
              </label>
              <label class="setting-item-range">
                <span class="label-text">Transform precision</span>
                <input type="range" min="0" max="8" step="1" value="5" name="transformPrecision">
              </label>
            </section>
            <section class="plugins">
              <h1 class="settings-sub-heading">Features</h1>
              {% for plugin in plugins %}
                <label class="setting-item-toggle">
                  <input type="checkbox"
                         name="{{ plugin.id }}"
                         {% if plugin.enabledByDefault %}checked{% endif %}>
                  {% include "partials/material-switch.html" %}
                  {{ plugin.name }}
                </label>
              {% endfor %}
            </section>
            <div class="setting-reset-row">
              <button class="unbutton setting-reset" type="button">Reset all</button>
            </div>
          </div>
        </div>
      </div>
      <div class="preloader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <p>Sorry, wasn't ready…</p>
      </div>
      <script>
        document.querySelector('.preloader').addEventListener('click', function() {
          if (typeof gtag === 'function') gtag('event', 'preloader_click');
          this.className = 'preloader active';
        });
      </script>
    </div>
  </body>
</html>
